
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f0f8ff; 
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        header {
            background-color: #6495ed;
            color: #fff;
            padding: 10px;
            text-align: center;
            width: 100%;
        }

        nav {
            text-align: center;
            background-color: #add8e6; 
            padding: 10px;
            width: 100%;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
        }

        nav li {
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: #333;
        }

        main {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        section {
            flex: 1;
            min-width: 250px;
            margin: 10px;
        }

        .container img {
            width: 300px; 
            height: 225px; 
            margin: 10px auto;
            display: block;
        }

        .container img:hover {
            opacity: 0.7;
        }

        footer {
            background-color: #4169e1; 
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        #about {
            text-align: center;
            width: 100%;
        }

        #about h2 {
            margin-bottom: 20px;
        }

        #about p {
            width: 100%;
            margin: 10px auto; 
            text-indent: 20px;
        }
    </style>